.navigation {
  font-family: Bahnschrift;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.navigation .navigation-link {
  margin-right: 4.5rem;
}

#about #ourStory {
  font-family: 'Anydore';
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  color: rgba(248,49,73,1);
  text-align: center;
  
}

#about #storyDescription {
  font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(0,0,0,1);
    margin-bottom: 50px;
    line-height: 1.15;
}

#about #storyDescriptionTwo {
  font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(0,0,0,1);
    margin-bottom: 200px;
    line-height: 1.15;
}

#about .aboutContainer {
  display: flex;
  flex-direction: row;
  padding: 20px 200px;
  margin-top:100px;
}

#about #founder{
  margin-right: 125px;
}

#about #founderImage {
  font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
    text-align: center;
    margin-top: 10px;
}

#about .splash {
  min-height: 100vh;
  background-image: url("./about.png");
  background-size: cover;
  background-position: 300px 0px;
  background-repeat: no-repeat;
}

.splash .title {
  font-family: 'Anydore';
  margin-top: 145px;
  font-size: 146px;
  text-align: center;
}

.splash .description {
  font-family: 'Bahnschrift';
  font-size: 30px;
  font-weight: lighter;
  text-align: left;
  line-height: 1.25;
  max-width: 590px;
}

@media (min-width: 576px) {
  .splash {
    padding: 62px 138px 115px;
  }
}